# MQTT-Konfiguration
VITE_MQTT_URL=ws://localhost:9001
VITE_MQTT_TOPIC=ecowitt/weather
VITE_MQTT_USER=
VITE_MQTT_PASS=

# Standort fuer Wettervorhersage (Open-Meteo)
VITE_LATITUDE=51.05
VITE_LONGITUDE=13.74

# Stationsname
VITE_STATION_NAME=Wetterstation WS90
